@import "tailwindcss";
input{
    outline-style: none;
    box-shadow: none;
}
@custom-variant dark (&:where(.dark, .dark *));

*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}